.container {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: #fff;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th,
.table td {
  text-align: left;
  padding: 10px;
  border: 1px solid #ddd;
}

.table th {
  background-color: #f4f4f4;
}

.button {
  padding: 10px 15px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
}

.button-success {
  margin-top: 10px;
  margin-right: 10px;
  background-color: #28a745;
  color: white;
}

.button-warning {
  background-color: #ffc107;
  color: white;
}

.button-danger {
  background-color: #dc3545;
  color: white;
}

.button-secondary {
  background-color: #6c757d;
  color: white;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 500px;
  z-index: 1000;
  padding: 20px;
}

.modal-header {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

@media (max-width: 768px) {
  .modal {
    width: 80%; /* Reduce el ancho del modal */
    padding: 15px; /* Reduce el padding */
  }

  .table th,
  .table td {
    font-size: 0.9rem;
    padding: 8px;
  }

  .button {
    padding: 8px 12px;
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .modal {
    width: 90%; /* Ajusta aún más el tamaño para pantallas más pequeñas */
    padding: 10px; /* Reduce aún más el padding */
  }

  .modal-header {
    font-size: 1.2rem; /* Ajusta el tamaño del texto del encabezado */
  }
}
